/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #DCDCDC;
  color: #514a2a;
  /*height: 150px;*/
  padding: 0.5em;
 
}

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    font-size: 0.8em;
    
    background-color: #DCDCDC;
    color: #514a2a;
    
}
